.guidance-container
{
    width:100%;
    height: 784px;
}
.guidance-container .guide-link .link-guide
{
    font-size: 20px;
}
.guidance-container .guide-link .link-guide .nav-item
{
    margin: 10px;
}
.guide-link .link-guide .nav-item a
{
    color: black;
    font-weight: 700;
}
.tab-content.showcase .tab-pane ul li
{
    float: left;
    width: 25%;
}
.tab-content.showcase .card-content
{
   width: 250px;
   height: 356.578px;
   overflow: hidden;
}

.card-content .card
{
    width: 100%;
}
.card-content .card img
{
    height: 202px;
    width: 202px;
    margin-left: 20px;
}
.card-content a
{
    font-size: 12px;
    line-height: 1.05em;
    color: #878787;
    text-decoration: none;
}
.card-content .card-title
{
    margin-top: 10px;
    font-weight: 700;
    color: #0062bd;
    width: 90%;
}
.card-body
{
    width: 100%;
}
.card-bottom
{
    display: flex;;
    justify-content: space-between;
    width: 100%;
}
.card-bottom .price
{
    font-size: 25px;
}
.card-content .type
{
    margin-left: 10px;
}
.card-content .card-title
{
    margin-left: 10px;
}

@media screen and (max-width:1480px){
    .tab-content.showcase .tab-pane ul li
    {
        width: 33%;
    }
    .guidance-container
    {
       overflow: hidden;
      
    }
    .tab-pane
    {
        margin-top: 10px;
    }
    .card-content{
    margin-top: 10px;
    }
}